

body {
	background: lightgray;
}

header {
    background: white;
	height: 70px;
}

h1 {
	font-size: 40px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	padding: 10px;
}

.feed {
	background: white;
	width: 600px;
	height: 500px;
	margin: 50px auto 50px auto;
	display: block;
}

.photo-header {
	display: flex;
	width: 100%;
	height: 10%;
}

h2 {
	width: 90%;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	margin-left: 10px;
}

p {
	font-family: "Roboto", sans-serif;
}

.date {
	width: 10%;
	color: lightgray;
}
input {
	width: 20%;
}

.photo-body {
	height: 80%;
	width: 100%;
}

.photo-body-img {
	height: 100%;
	width: 100%;
}


.photo-footer {
	width: 100%;
	height: 10%;
	background: white;
}

.footer-text {
	justify-content: center;
	padding: 5px;
	width: 100%;
}